html, body, #root {
    height: 100%;
    max-height: 100vh;
}

body {
    background:dimgrey;
}
.round {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.bg-cover {
    background-size: cover;
}
.bg-center {
    background-position: center;
}

.bounce {
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s
}
.shake {
    animation: shakeX;
    /*referringdirectlytotheanimation's@keyframedeclaration*/animation-duration: 2s;
    -webkit-animation: shakeX;
    animation-duration: 2s
}

.pulse {
    animation: pulse;
    /*referringdirectlytotheanimation's@keyframedeclaration*/animation-duration: 2s;
    -webkit-animation: pulse;
    animation-duration: 2s;
}
