.scale-rotate-in {
  animation: scaleRotateIn;
  animation-duration: 2s;
  -webkit-animation: scaleRotateIn;
}
@-webkit-keyframes scaleRotateIn {
  0% {
    transform: scale3d(0,0,0) rotate(90deg);
    opacity: 0;
    
}

  100% {
     transform: scale3d(1,1,1) rotate(90deg);
     opacity: 0.5;
     -webkit-transform: scale3d(1,1,1) rotate(90deg);
     -moz-transform: scale3d(1,1,1) rotate(90deg);
     -ms-transform: scale3d(1,1,1) rotate(90deg);
     -o-transform: scale3d(1,1,1) rotate(90deg);
}
}
@keyframes scaleRotateIn {
  0% {
    transform: scale3d(0,0,0) rotate(90deg);
    opacity: 0;
    
}

  100% {
     transform: scale3d(1,1,1) rotate(90deg);
     opacity: 0.5;
     
}
}



.hover-slide-right:hover {
  transform: translate3d(0.5vw,0,0);
}
.hover-slide-right {
  transform: translate3d(0,0,0);
}

.hover-slide-left:hover {
  transform: translate3d(-0.5vw,0,0);
}
.hover-slide-left {
  transform: translate3d(0,0,0);
}

.pulse_ {
  animation: pulse_ 0.5s infinite alternate ;
  -webkit-animation: pulse_ 0.5s infinite alternate ;
}
.pulse_:hover {
  /* animation: none; */
}

@-webkit-keyframes pulse_ {
  0% {
    /* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
    background:  rgba(255, 255, 255, 1);
  }

  100% {
      /* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
      background: rgb(198, 242, 255);
  }
}
@keyframes pulse_ {
  0% {
    /* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
    background:  rgba(255, 255, 255, 1);
  }

  100% {
      /* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
      background: rgb(198, 242, 255);
  }
}
/* @keyframes pulse_ {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
} */

.trans-a {
  -webkit-transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.trans-b {
  /*-webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  */
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
.trans-c {
  -webkit-transition: all 0.4s cubic-bezier(0.1, 0.8, 0.5, 1);
  transition: all 0.4s cubic-bezier(0.1, 0.8, 0.5, 1);
}
.trans-d {
  -webkit-transition: all 700ms cubic-bezier(0.600, 0.310, 0.000, 0.985);
   -moz-transition: all 700ms cubic-bezier(0.600, 0.310, 0.000, 0.985);
     -o-transition: all 700ms cubic-bezier(0.600, 0.310, 0.000, 0.985);
        transition: all 700ms cubic-bezier(0.600, 0.310, 0.000, 0.985); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.600, 0.310, 0.000, 0.985);
   -moz-transition-timing-function: cubic-bezier(0.600, 0.310, 0.000, 0.985);
     -o-transition-timing-function: cubic-bezier(0.600, 0.310, 0.000, 0.985);
        transition-timing-function: cubic-bezier(0.600, 0.310, 0.000, 0.985); /* custom */
}
.trans-y-fast {
  -webkit-transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.trans-y-slow {
  -webkit-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.trans-o-fast {
  -webkit-transition: opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.trans-o-slow {
  -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ping {
  -webkit-animation: ping 3s infinite;
  animation: ping 3s infinite;
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)     alternate both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)     alternate both;
}
.rotate-scale-up {
  -webkit-animation: rotate-scale-up 4s cubic-bezier(0.86, 0, 0.07, 1)     alternate-reverse both;
  animation: rotate-scale-up 4s cubic-bezier(0.86, 0, 0.07, 1)     alternate-reverse both;
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 3s cubic-bezier(0.86, 0, 0.07, 1)     alternate-reverse both;
  animation: slide-fwd-center 3s cubic-bezier(0.86, 0, 0.07, 1)     alternate-reverse both;
}

.hover-child-nudge-right {
    transform: translate3d(0,0,0)  ;
    -webkit-transform: translate3d(0,0,0)  ;
    -moz-transform: translate3d(0,0,0)  ;
    -ms-transform: translate3d(0,0,0)  ;
    -o-transform: translate3d(0,0,0)  ;
}

.hover-child-nudge-right:hover .nudge-child {
  transform: translate3d(0.2vw,0,0)  ;
  -webkit-transform: translate3d(0.2vw,0,0)  ;
  -moz-transform: translate3d(0.2vw,0,0)  ;
  -ms-transform: translate3d(0.2vw,0,0)  ;
  -o-transform: translate3d(0.2vw,0,0)  ;
}

.trans-e {
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}


.pulse-3 {
	-webkit-animation: pulse-3 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse ;
	        animation: pulse-3 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse ;
}

@-webkit-keyframes pulse-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}
@keyframes pulse-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }

}













/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 21:58:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 21:37:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
    opacity: 0;
    border-width: 0px;
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
    opacity: 0;
    border-width: 0px;
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
    opacity: 0;
    border-width: 0px;
  }
}
@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
    opacity: 0;
    border-width: 0px;
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
    opacity: 0;
    border-width: 0px;
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
    opacity: 0;
    border-width: 0px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 21:35:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {

  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

}
@keyframes slide-top {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-16 2:19:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    border-width: 0px;
  }
  40% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
    border-width: 0.5px;
  }
  80% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.5;
    border-width: 1px;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    border-width: 0px;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    border-width: 0px;
  }
  40% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
    border-width: 0.5px;
  }
  80% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.5;
    border-width: 1px;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    border-width: 0px;
  }
}

.pulssse::after {
  content: '';
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  left: -12px;
  pointer-events: none;
  background: transparent;
  border: 4px solid #00e2ff;
  /* border: 10px solid #5ad8ec80; */
  border-radius: 50%;
  /* -webkit-animation-duration: 1.2s; */
  /* animation-duration: 2s; */
  animation: ping 3s ease-in-out infinite;
  /* -webkit-animation-iteration-count: infinite; */
  /* animation-iteration-count: infinite; */
  z-index: 999;
}

.addCoverPhoto.puls3e::after {
  content: '';
  width: 60px !important;
  height: 60px !important;
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  background: transparent;
  /* border: 4px solid #fff; */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0);
  /* border: 10px solid #5ad8ec80; */
  border-radius: 50%;
  /* -webkit-animation-duration: 1.2s; */
  /* animation-duration: 2s; */
  animation: ping 3s ease-in-out infinite;
  /* -webkit-animation-iteration-count: infinite; */
  /* animation-iteration-count: infinite; */
  z-index: 999;
}

@-webkit-keyframes intervalHamburgerBorder {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 0px;
  }
  80% {
    /* opacity  */
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 2.5px;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 4px;
  }
}

@keyframes intervalHamburgerBorder {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width: 0px;
  }
  80% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 2.5px;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-width: 4px;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Spinner 3Balls Scale */
.pulsating-dot {
  border-radius: 50%;
  background-color: black;
  width: 10px;
  height: 10px;
  transform-origin: center center;
  display: inline-block;
}
.pulsating-dot {
  position: relative;
  background-color: #adadad;
  opacity: 1;
  animation: spScaleAlpha 1s infinite linear;
  margin-left: 2rem;
  -webkit-animation: spScaleAlpha 1s infinite linear;
}
.pulse {
  opacity: 1;
  animation: spScaleAlpha 1s infinite linear;
  -webkit-animation: spScaleAlpha 1s infinite linear;
}
/* .pulsating-dot:before {
  content: "";
  position: relative;
  opacity: 0.25;
}
.pulsating-dot:before {
  left: 30px;
  -webkit-animation: spScaleAlphaBefore 1s infinite linear;
  animation: spScaleAlphaBefore 1s infinite linear;
} */
/* .pulsating-dot:after {
  left: -30px;
  top: -10px;
  -webkit-animation: spScaleAlphaAfter 1s infinite linear;
  animation: spScaleAlphaAfter 1s infinite linear;
} */

/* Spinner 3Balls Scale */
.sp-3balls,
.sp-3balls:before,
.sp-3balls:after {
  border-radius: 50%;
  background-color: black;
  width: 10px;
  height: 10px;
  transform-origin: center center;
  display: inline-block;
}
.sp-3balls {
  position: relative;
  background-color: #adadad;
  opacity: 1;
  animation: spScaleAlpha 1s infinite linear;
  /* margin-left: 2rem; */
  /* -webkit-animation:; */
}
.sp-3balls:before,
.sp-3balls:after {
  content: '';
  position: relative;
  opacity: 0.25;
}
.sp-3balls:before {
    left: 30px;
    top: -5px;
    animation: spScaleAlphaBefore 1s infinite linear;
    -webkit-animation: spScaleAlphaBefore 1s infinite linear;
}

.sp-3balls:after {
    left: -30px;
    top: -26px;
    animation: spScaleAlphaAfter 1s infinite linear;
    -webkit-animation: spScaleAlphaAfter 1s infinite linear;
}
@-webkit-keyframes spScaleAlpha {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spScaleAlpha {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
}
@keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
}
@-webkit-keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

/* Spinner 3Balls Scale */
.sp-3balls-small,
.sp-3balls-small:before,
.sp-3balls-small:after {
  border-radius: 50%;
  background-color: black;
  width: 7px;
  height: 7px;
  transform-origin: center center;
  display: inline-block;
}
.sp-3balls-small {
  position: relative;
  background-color: #adadad;
  opacity: 1;
  animation: spScaleAlpha 1s infinite linear;
  margin-left: 2rem;
}
.sp-3balls-small:before,
.sp-3balls-small:after {
  content: '';
  position: relative;
  opacity: 0.25;
}
.sp-3balls-small:before {
  left: 20px;
  /* top: -10px; */
  -webkit-animation: spScaleAlphaBefore 1s infinite linear;
  animation: spScaleAlphaBefore 1s infinite linear;
}
.sp-3balls-small:after {
  left: -21px;
  top: -7px;
  animation: spScaleAlphaAfter 1s infinite linear;
}
@-webkit-keyframes spScaleAlpha {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spScaleAlpha {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
}
@keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
}
@-webkit-keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

.opacity-0 {
  opacity: 0 !important;
}
.opacity-1 {
  opacity: 1;
}
.transform-y-0 {
  transform: translate3d(0, 0, 0);
}

.transform-y-50 {
  transform: translate3d(0, 5vh, 0);
}
.transform-y-up {
  transform: translate3d(0, -10vh, 0);
}
.opacity-50 {
  opacity: 0.5;
}
.grayscale {
  filter: grayscale(100%);
}
.blur-grayscale {
  filter: blur(2px) grayscale(100%);
}
.blur-10 {
  filter: blur(10px);
}
.blur-0 {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-13 21:55:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.fadeInDown {
  -webkit-animation: fadeInDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.fadeOutDown {
  -webkit-animation: fadeOutDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes fadeOutDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(-20px);
    opacity: 1;
    z-index: 99;
  }
  100% {
    -webkit-transform: translateY(-20);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeOutDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(-20px);
    opacity: 1;
    z-index: 99;
  }
  100% {
    -webkit-transform: translateY(-20);
    opacity: 0;
    z-index: -1;
  }
}


/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

 @-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fadeOutUp {
  -webkit-animation: fadeOutUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(20px);
    opacity: 0;
    z-index: -1;
}
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 1;
    z-index: 99;
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(20px);
    opacity: 0;
    z-index: -1;
}
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 1;
    z-index: 99;
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
}
@keyframes fadeOutUp {
 0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
}

/* .pulse {
	-webkit-animation: pulse 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: pulse 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}
 */
/* ----------------------------------------------
 * Generated by Animista on 2020-1-12 23:49:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: opacity(0.5);
    transform: opacity(0.5);
  }
  100% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: opacity(0.5);
    transform: opacity(0.5);
  }
  100% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}


.hover-child-slide-right:hover .child {
  -webkit-animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(0.5rem);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(0.5rem);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-13 21:55:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1.6rem);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1.6rem);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    alternate both;
  animation: scale-up-center 2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate
    both;
}



@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.75);
    opacity: 0.7;
    transform: scale(0.75);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.75);
    opacity: 0.7;
    transform: scale(0.75);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
    opacity: 0;
  }
}

.hover-bs-a {
  box-shadow: 0px 0px 0px 0px #000;
}

.hover-scale-up2 {
  transform: scale3d(1,1,1);
  -webkit-transform: scale3d(1,1,1);
  -moz-transform: scale3d(1,1,1);
  -ms-transform: scale3d(1,1,1);
  -o-transform: scale3d(1,1,1);
  box-shadow: 0 0 0 0 #000;
}
/* .hover-scale-up2:hover {
  transform: scale3d(1.2,1.2,1.2) ;
  -webkit-transform: scale3d(1.2,1.2,1.2) ;
  -moz-transform: scale3d(1.2,1.2,1.2) ;
  -ms-transform: scale3d(1.2,1.2,1.2) ;
  -o-transform: scale3d(1.2,1.2,1.2) ;
  box-shadow: 0 5px 5px 1px #000;
} */
.hover-scale-up2:hover {
  transform: scale3d(1.2,1.2,1.2);
  -webkit-transform: scale3d(1.2,1.2,1.2);
  -moz-transform: scale3d(1.2,1.2,1.2);
  -ms-transform: scale3d(1.2,1.2,1.2);
  -o-transform: scale3d(1.2,1.2,1.2);
  /* box-shadow: rgb(197, 252, 255) 0px 0px 0px 13px !important; */
  /* border: solid black; */
  padding: 0rem;
}

.transformY-inactive {
  transform: translate3d(0, -28vh, 0);
  -webkit-transform: translate3d(0, -28vh, 0);
  -moz-transform: translate3d(0, -28vh, 0);
  -ms-transform: translate3d(0, -28vh, 0);
  -o-transform: translate3d(0, -28vh, 0);
  /*opacity: 0;
  */
}
.transformY-active {
  transform: translate3d(0, -18vh, 0);
  -webkit-transform: translate3d(0, -18vh, 0);
  -moz-transform: translate3d(0, -18vh, 0);
  -ms-transform: translate3d(0, -18vh, 0);
  -o-transform: translate3d(0, -18vh, 0);
  /*opacity: 1;
  */
}