.quiz_background {
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    mix-blend-mode: multiply;
    filter: hue-rotate(435deg);
    
    animation-duration: 2s;
    overflow: visible;
    
}

.quiz_background_enter {
    animation: scaleRotateIn;
    animation-duration: 2s;
}

.quiz_background_correct {
    background: url(/starburst.svg);
}

.quiz_background_incorrect {
    background: url(/starburst.svg);
}